.col-md-32 {
    width: 50%;
    margin-bottom: 10px
}
@media (min-width: 768px) {
    .col-md-32 {
        width: 33%
    }
}
@media (min-width: 992px) {
    .col-md-32 {
        width: 33%
    }
}
@media (min-width: 1200px) {
    .col-md-32 {
        width: 33%
    }
}
.col-md-32 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px
}

.instalink_container {
  position: relative;
}
.topleft {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 20%;
}
.topright {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 20%;
}
.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 8px;
  border-radius: 20%;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 20%;
}
.container_icon {
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 30%;
  height: 30%;
  font-size: 3em;
}
img {
  width: 100%;
  height: auto;
}
